
/*---------------------
  Services
-----------------------*/

.services {
	padding-bottom: 30px;
}

.services__item {
	margin-bottom: 70px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.services__item:hover {
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.services__item:hover .services__item__text {
	border: 1px solid transparent;
}

.services__item:hover .services__item__text a:after {
	opacity: 1;
}

.services__item__img img {
	border-radius: 5px 5px 0 0;
	min-width: 100%;
}

.services__item__text {
	padding-top: 35px;
	padding-bottom: 30px;
	text-align: center;
	border: 1px solid rgba(112, 112, 112, 0.1);
	border-radius: 0 0 5px 5px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.services__item__text h4 {
	color: #323232;
	font-weight: 700;
	margin-bottom: 6px;
}

.services__item__text h4 span {
	color: #88C417;
}

.services__item__text p {
	margin-bottom: 34px;
}

.services__item__text a {
	font-size: 12px;
	color: #323232;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 4px 0;
	position: relative;
}

.services__item__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #88C417;
	content: "";
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
}

/*---------------------
  Services Details
-----------------------*/

.services__details__text {
	margin-bottom: 80px;
}

.services__details__title h2 {
	font-size: 40px;
	color: #323232;
	font-weight: 700;
	margin-bottom: 22px;
}

.services__details__title p {
	font-size: 24px;
	line-height: 38px;
	margin-bottom: 50px;
}

.services__details__more {
	margin-bottom: 30px;
}

.services__details__img {
	margin-bottom: 42px;
}

.services__details__img img {
	min-width: 100%;
	border-radius: 5px;
	margin-bottom: 30px;
}

.services__details__product h2 {
	font-size: 40px;
	color: #323232;
	font-weight: 700;
	margin-bottom: 20px;
}

.services__details__product__item {
	margin-bottom: 55px;
}

.services__details__product__item h4 {
	color: #323232;
	font-weight: 700;
	margin-bottom: 6px;
}

.services__details__product__item h4 span {
	color: #88C417;
}

.services__details__product__item p {
	margin-bottom: 0;
}

.services__details__faq {
	margin-bottom: 75px;
}

.services__details__faq .card {
	border: none;
	border-radius: 0;
	margin-bottom: 20px;
}

.services__details__faq .card .card-heading {
	border-radius: 2px;
}

.services__details__faq .card .card-heading a {
	font-size: 18px;
	color: #323232;
	font-weight: 700;
	padding: 12px 10px 10px 65px;
	display: block;
	background: #f6f6f6;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.services__details__faq .card .card-heading.active a {
	background: #223060;
	color: #ffffff;
}

.services__details__faq .card .card-body {
	padding-left: 0;
}

.services__details__faq .card .card-body p {
	color: #323232;
}

.services__details__faq .card-heading a:after,
.services__details__faq .card-heading>a.active[aria-expanded=false]:after {
	content: "K";
	font-size: 24px;
	font-family: "ElegantIcons";
	color: #323232;
	position: absolute;
	left: 30px;
	top: 14px;
	line-height: 20px;
}

.services__details__faq .card-heading.active a:after {
	content: "L";
	font-size: 24px;
	font-family: "ElegantIcons";
	color: #88C417;
	position: absolute;
	left: 30px;
	top: 14px;
	line-height: 20px;
}

.services__details__faq .card-heading a[aria-expanded=true]:after,
.services__details__faq .card-heading>a.active:after {
	content: "L";
	font-size: 24px;
	font-family: "ElegantIcons";
	color: #88C417;
	position: absolute;
	left: 30px;
	top: 14px;
	line-height: 20px;
}

.services__details__calculator h2 {
	color: #323232;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 35px;
}

.services__details__calculator__item {
	position: relative;
	margin-bottom: 60px;
}

.services__details__calculator__item:last-child {
	margin-bottom: 0;
}

.services__details__calculator__item p {
	font-size: 18px;
	color: #323232;
	margin-bottom: 20px;
}

.services__details__calculator__item .ui-widget.ui-widget-content {
	border: none;
	height: 8px;
	background: #e4e4e4;
	border-radius: 50px;
}

.services__details__calculator__item .ui-slider .ui-slider-range {
	background: #88C417;
}

.services__details__calculator__item .ui-slider .ui-slider-handle {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: #88C417;
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 50px;
	z-index: 9;
}

.services__details__calculator__item .ui-slider-horizontal .ui-slider-handle {
	top: -4px;
	margin-left: -8px;
}

.services__details__calculator__item .price-input {
	position: absolute;
	right: 0;
	top: -20px;
	z-index: 1;
}

.services__details__calculator__item .price-input.month input {
	text-align: right;
	padding: 0 10px;
}

.services__details__calculator__item .price-input input {
	color: #323232;
	font-weight: 700;
	font-size: 15px;
	height: 50px;
	width: 120px;
	background: transparent;
	border: none;
	text-align: center;
	border: 1px solid #e4e4e4;
	margin-right: -5px;
}

.services__details__calculator__item .price-input span {
	font-size: 15px;
	width: 100px;
	height: 50px;
	text-align: center;
	background: #f6f6f6;
	color: #323232;
	display: inline-block;
	line-height: 50px;
	border: 1px solid #f6f6f6;
	position: relative;
	top: 1px;
}

.services__details__calculator__total {
	margin-top: -19px;
}

.services__details__calculator__total__item {
	background: #f6f6f6;
	padding: 16px 26px 20px 26px;
	margin-bottom: 15px;
}

.services__details__calculator__total__item:last-child {
	margin-bottom: 0;
}

.services__details__calculator__total__item p {
	color: #707070;
	margin-bottom: 5px;
}

.services__details__calculator__total__item h5 {
	font-size: 20px;
	color: #323232;
	font-weight: 700;
}
